<h2>Añadir Producto</h2>
<%= form_with model: @products, url: products_path do |form| %>
  <% @products.errors.full_messages.each do |error| %>
    <div>
    <p><%= error %></p>
    <div>
  <% end %>

  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>
  <div>
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>
  <div>
    <%= form.submit 'Guardar Producto' %>
  </div>
<% end %>
